{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MindRisers</title>
    <link rel = "shortcut icon" href = "{% static 'codeacademy.png' %}">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'style.css' %}">
    <style>
        body{
            overflow: hidden;
        }
        div.absolute1 {
            position: fixed;
            left: 0;
            bottom: 0;
            width: 100%;
            background-color: black;
            color: white;
            text-align: center; 
        }
        div.bannerText {
            bottom: -150px;
        }
        div.element1 {
            top: 60%;
        }
    </style>
</head>
<body>
   
    <div class = "open">
		</div>
		<section>
			<div class="header">
                <img src = "{% static 'codeacademy.png' %}" width="100px" height="100px">
			</div>
			<div class="bannerText">
				<h2>MindRisers</h2><br>
				<p>We want to create a world where anyone can build something meaningful with technology, and everyone has the learning tools, resources, and opportunities to do so. Code contains a world of possibilities — all that’s required is the curiosity and drive to learn. At Codecademy, we are committed to empowering all people, regardless of where they are in their coding journeys, to continue to learn, grow, and make an impact on the world around them.</p>
			</div>
			<div class="element1"></div>
			<div class="element2"></div>
        </section>
        <div class = "absolute1">
            <h3>Contact Us</h3>
            <p>Email: mindrisers@gmail.com</p>
        </div>
    </body>
</html>
    